<link rel="import" href="../bower_components/polymer/polymer.html">

<!--
An element providing a solution to no problem in particular.

Example:

    <button is="ux-button">Test button</button>

Example:

    <button is="ux-button" type="submit">Submit</button>


@demo ./demo.html
@hero hero.svg
-->



<dom-module id="shared-styles">
    <template>
        <style>
            :root {
                --steel-blue: #265b80;
                --charcoal: #1f3340;
            }
        </style>
    </template>
</dom-module>
